<h5>Za kakršne koli informacije lahko kontaktirate enega izmed naju</h5>
<p><img src="<%= asset_path( 'david.jpg' ) %>" /></p>
<p>David Špegel</p>
<p>email: davidspeg@gmail.com ali na <a href="https://www.facebook.com/Maalibuuu?fref=ts">Facebook</a></p>
<p><img src="<%= asset_path( 'denis.jpg' ) %>" /></p>
<p>Denis Lazar</p>
<p>email: denis.lazar1996@gmail.com ali na <a href="https://www.facebook.com/denis.lazar.12">Facebook</a></p>
